footer {
  background-color: var(--color-skyblue-dark);
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  color: white;
}

.footer__first-block,
.footer__second-block {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer__first-block p {
  margin: 10px;
}

.footer__first-block a:hover {
  text-decoration: underline;
}
