.home__container {
  width: 100%;
}

.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
}

/* Mobile */
@media (max-width: 580px) {
  .home__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1px;
    margin-right: 1px;
  }
}

